.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-about-us {
  color: var(--dl-color-colorscheme-7);
  cursor: pointer;
  cursor:: hand;
  text-decoration: none;
}
.navigation-links-study {
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-left: var(--dl-space-space-twounits);
  border-radius: 2px;
}
.navigation-links-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
}
.navigation-links-text {
  color: var(--dl-color-colorscheme-7);
  font-style: normal;
  text-align: center;
  margin-right: 4px;
  vertical-align: middle;
}
.navigation-links-dropdown-arrow {
  transition: 0.3s;
}
.navigation-links-icon {
  fill: var(--dl-color-colorscheme-7);
  width: 18px;
  height: 18px;
  margin-top: auto;
  transition: 0.3s;
  margin-bottom: auto;
}
.navigation-links-dropdown-list {
  left: 0px;
  width: 74px;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  margin-top: 0px;
  transition: 0.3s;
  align-items: stretch;
  margin-left: -8px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius10);
  flex-direction: column;
  list-style-type: none;
  background-color: #FFFFFF;
  list-style-position: inside;
}
.navigation-links-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.navigation-links-dropdown-toggle1 {
  fill: #595959;
  color: var(--dl-color-colorscheme-7);
  width: 100%;
  cursor: pointer;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  text-decoration: none;
}
.navigation-links-dropdown-toggle1:hover {
  fill: #fff;
  color: var(--dl-color-colorscheme-5);
  border-radius: var(--dl-radius-radius-radius10);
  background-color: var(--dl-color-colorscheme-7);
  border-bottom-left-radius: var(--dl-radius-radius-radiusempty);
  border-bottom-right-radius: var(--dl-radius-radius-radiusempty);
}
.navigation-links-text3 {
  width: auto;
  cursor: pointer;
  display: flex;
  font-style: normal;
  text-align: center;
}
.navigation-links-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.navigation-links-dropdown-toggle2 {
  fill: #595959;
  color: var(--dl-color-colorscheme-7);
  width: 100%;
  cursor: pointer;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  text-decoration: none;
}
.navigation-links-dropdown-toggle2:hover {
  fill: #fff;
  color: var(--dl-color-colorscheme-5);
  background-color: var(--dl-color-colorscheme-7);
}
.navigation-links-text4 {
  width: auto;
  cursor: pointer;
  display: flex;
  font-style: normal;
  text-align: center;
}
.navigation-links-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.navigation-links-dropdown-toggle3 {
  fill: #595959;
  color: var(--dl-color-colorscheme-7);
  width: 100%;
  cursor: pointer;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius10);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  text-decoration: none;
  border-top-left-radius: var(--dl-radius-radius-radiusempty);
  border-top-right-radius: var(--dl-radius-radius-radiusempty);
  border-bottom-left-radius: var(--dl-radius-radius-radius10);
  border-bottom-right-radius: var(--dl-radius-radius-radius10);
}
.navigation-links-dropdown-toggle3:hover {
  fill: #fff;
  color: var(--dl-color-colorscheme-5);
  background-color: var(--dl-color-colorscheme-7);
}
.navigation-links-text5 {
  width: auto;
  cursor: pointer;
  display: flex;
  font-style: normal;
  text-align: center;
}
.navigation-links-tokens {
  cursor:: hand;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: row;
}
.navigation-links-text6 {
  cursor: pointer;
  text-decoration: none;
}
.navigation-links-token-amount {
  color: var(--dl-color-colorscheme-5);
  width: 25px;
  height: 25px;
  padding: 4px;
  text-align: center;
  margin-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-colorscheme-7);
}
.navigation-links-question-board {
  cursor: pointer;
  cursor:: hand;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink3 {
  display: contents;
}
.navigation-links-account {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: row;
  text-decoration: none;
}
.navigation-links-icon2 {
  width: 25px;
  height: 25px;
  align-self: flex-end;
}
.navigation-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navigation-links-text8 {
  color: var(--dl-color-colorscheme-1);
  font-size: 8px;
  font-style: normal;
  font-weight: 600;
}









@media(max-width: 1600px) {
  .navigation-links-nav {
    align-items: center;
    justify-content: flex-start;
  }
}
@media(max-width: 991px) {
  .navigation-links-about-us {
    font-family: Poppins;
  }
  .navigation-links-dropdown-list {
    margin-left: 14px;
  }
  .navigation-links-dropdown-toggle1 {
    justify-content: flex-start;
  }
  .navigation-links-text3 {
    text-align: left;
  }
  .navigation-links-dropdown-toggle2 {
    justify-content: flex-start;
  }
  .navigation-links-text4 {
    text-align: left;
  }
  .navigation-links-dropdown-toggle3 {
    justify-content: flex-start;
  }
  .navigation-links-text5 {
    text-align: left;
  }
  .navigation-links-text6 {
    font-family: Poppins;
  }
  .navigation-links-question-board {
    font-family: Poppins;
  }
}
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: center;
    flex-direction: column;
  }
  .navigation-links-about-us {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-study {
    margin-left: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-tokens {
    margin-left: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text6 {
    margin-left: 0px;
  }
  .navigation-links-token-amount {
    margin-left: var(--dl-space-space-halfunit);
  }
  .navigation-links-question-board {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-account {
    margin-left: 0px;
  }
  .navigation-links-icon2 {
    align-self: center;
    margin-left: 0px;
  }
}
@media(max-width: 479px) {
  .navigation-links-nav {
    align-items: center;
  }
}

.header-header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: var(--dl-color-colorscheme-5);
}
.header-top {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-container {
  flex: 0 0 auto;
  width: 33%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.header-navlink {
  display: contents;
}
.header-logo-with-name {
  gap: var(--dl-space-space-unit);
  width: auto;
  cursor: pointer;
  display: flex;
  max-height: 100px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
.header-image {
  width: 50px;
  height: 50px;
  align-self: center;
  border-radius: var(--dl-radius-radius-round);
}
.header-text {
  color: var(--dl-color-colorscheme-3);
  font-size: 32px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.header-login-register {
  gap: var(--dl-space-space-unit);
  width: 33%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.header-container1 {
  display: flex;
  position: relative;
}
.header-navlink1 {
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  align-self: center;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  text-align: center;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius10);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-colorscheme-7);
}
.header-container2 {
  display: flex;
  position: relative;
}
.header-register {
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  align-self: center;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  text-align: center;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius10);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-colorscheme-3);
}
.header-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.header-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.header-nav {
  margin-top: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-colorscheme-3);
  border-width: 2px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.header-accordion-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.header-accordion-content {
  display: flex;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s ease-in-out;
  align-items: center;
  flex-direction: column;
}
.header-nav1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

















@media(max-width: 1600px) {
  .header-header {
    position: static;
  }
}
@media(max-width: 991px) {
  .header-image {
    width: 50px;
    height: 50px;
  }
  .header-nav1 {
    padding-top: 16px;
  }
}
@media(max-width: 767px) {
  .header-header {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .header-top {
    gap: 0;
    justify-content: flex-start;
  }
  .header-container {
    width: 0%;
  }
  .header-login-register {
    width: auto;
    margin-left: auto;
    justify-content: center;
  }
  .header-nav {
    display: none;
  }
  .header-accordion-header {
    margin-top: var(--dl-space-space-twounits);
  }
  .header-icon {
    display: flex;
  }
}
@media(max-width: 479px) {
  .header-header {
    padding: var(--dl-space-space-unit);
  }
  .header-top {
    flex-direction: column;
  }
  .header-login-register {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .header-accordion-header {
    margin-top: var(--dl-space-space-unit);
  }
}

.login-register-password-container {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  border-color: var(--dl-color-colorscheme-1);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius10);
  background-color: var(--dl-color-colorscheme-5);
}
.login-register-password-container1 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-colorscheme-2);
}
.login-register-password-icon {
  fill: var(--dl-color-colorscheme-5);
  width: 24px;
  height: 24px;
}
.login-register-password-textinput {
  width: 100%;
}
.login-register-password-icon2 {
  fill: var(--dl-color-colorscheme-2);
  width: 25px;
  height: 25px;
  align-self: center;
}








.button-light-blue-container {
  display: flex;
  position: relative;
}
.button-light-blue-button {
  color: rgb(255, 255, 255);
  width: auto;
  cursor: pointer;
  height: 100%;
  align-self: center;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  text-align: center;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius10);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-colorscheme-2);
}









.login-register-google-container {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: center;
  border-color: var(--dl-color-colorscheme-2);
  border-style: solid;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius25);
  flex-direction: row;
  justify-content: center;
}
.login-register-google-image {
  width: 25px;
  object-fit: cover;
}
.login-register-google-text {
  color: var(--dl-color-colorscheme-2);
  font-style: normal;
  font-weight: 500;
}



.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: var(--dl-color-colorscheme-3);
}
.footer-text {
  color: var(--dl-color-colorscheme-5);
  font-size: 32px;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.footer-text1 {
  color: var(--dl-color-colorscheme-5);
  font-style: italic;
  font-weight: 500;
}
.footer-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-link {
  display: contents;
}
.footer-icon {
  fill: var(--dl-color-colorscheme-5);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footer-link1 {
  display: contents;
}
.footer-icon2 {
  fill: var(--dl-color-colorscheme-5);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footer-link2 {
  display: contents;
}
.footer-icon4 {
  fill: var(--dl-color-colorscheme-5);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footer-icon6 {
  fill: var(--dl-color-colorscheme-5);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.footer-root-class-name {
  margin-top: auto;
}
.footer-root-class-name1 {
  margin-top: auto;
}


.footer-root-class-name4 {
  margin-top: auto;
}
.footer-root-class-name5 {
  margin-top: auto;
}
.footer-root-class-name6 {
  margin-top: auto;
}
.footer-root-class-name7 {
  margin-top: auto;
}
.footer-root-class-name8 {
  margin-top: auto;
}
.footer-root-class-name9 {
  margin-top: auto;
}
.footer-root-class-name10 {
  margin-top: auto;
}
.footer-root-class-name11 {
  margin-top: auto;
}
.footer-root-class-name12 {
  margin-top: auto;
}
.footer-root-class-name13 {
  margin-top: auto;
}
.footer-root-class-name14 {
  margin-top: auto;
}
.footer-root-class-name15 {
  margin-top: auto;
}
.footer-root-class-name16 {
  margin-top: auto;
}
@media(max-width: 1600px) {
  .footer-footer {
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .footer-text {
    margin-left: 0px;
  }
  .footer-text1 {
    font-style: italic;
    text-align: center;
    font-weight: 400;
    text-transform: capitalize;
  }
  .footer-icon-group {
    justify-content: space-between;
  }
  .footer-icon {
    margin-right: var(--dl-space-space-twounits);
  }
  .footer-icon2 {
    margin-right: var(--dl-space-space-twounits);
  }
  .footer-icon4 {
    margin-right: var(--dl-space-space-twounits);
  }
  .footer-root-class-name {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name1 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name4 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name5 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name6 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name7 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name8 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name9 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name10 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name11 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name12 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name13 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name14 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name15 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name16 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
}
@media(max-width: 991px) {
  .footer-footer {
    margin-top: auto;
  }
  .footer-root-class-name1 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name4 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name5 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name6 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name7 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name8 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name9 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name10 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name11 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name12 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name13 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name14 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name15 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name16 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
}
@media(max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-text1 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .footer-text2 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .footer-text1 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-text2 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-root-class-name {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
}

.register-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: auto;
  justify-content: flex-start;
  background-image: url("public/colored-1500w.png");
  background-position: center;
}
.register-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.register-container02 {
  flex: 0 0 auto;
  width: 75%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: relative;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius25);
  flex-direction: column;
  background-color: var(--dl-color-colorscheme-5);
}
.register-container03 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.register-text {
  color: var(--dl-color-colorscheme-1);
}
.register-text01 {
  color: var(--dl-color-colorscheme-1);
}
.register-form {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.register-container04 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  border-color: var(--dl-color-colorscheme-1);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius10);
  background-color: var(--dl-color-colorscheme-5);
}
.register-container05 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-colorscheme-2);
}
.register-icon {
  fill: var(--dl-color-colorscheme-5);
  width: 24px;
  height: 24px;
}
.register-textinput {
  width: 100%;
}
.register-container06 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  border-color: var(--dl-color-colorscheme-1);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius10);
  background-color: var(--dl-color-colorscheme-5);
}
.register-container07 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-colorscheme-2);
}
.register-icon02 {
  fill: var(--dl-color-colorscheme-5);
  width: 24px;
  height: 24px;
}
.register-textinput1 {
  width: 100%;
}
.register-container08 {
  gap: var(--dl-space-space-unit);
  display: flex;
  flex-direction: row;
}
.register-container09 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  border-color: var(--dl-color-colorscheme-1);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius10);
  background-color: var(--dl-color-colorscheme-5);
}
.register-container10 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-colorscheme-2);
}
.register-icon04 {
  fill: var(--dl-color-colorscheme-5);
  width: 24px;
  height: 24px;
}
.register-textinput2 {
  width: 100%;
}
.register-container11 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  border-color: var(--dl-color-colorscheme-1);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius10);
  background-color: var(--dl-color-colorscheme-5);
}
.register-container12 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-colorscheme-2);
}
.register-icon06 {
  fill: var(--dl-color-colorscheme-5);
  width: 24px;
  height: 24px;
}
.register-textinput3 {
  width: 100%;
}
.register-container13 {
  gap: var(--dl-space-space-unit);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}
.register-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.register-dropdown-toggle {
  gap: var(--dl-space-space-halfunit);
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-colorscheme-1);
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius10);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.register-container14 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-colorscheme-2);
}
.register-icon08 {
  fill: var(--dl-color-colorscheme-5);
  width: 24px;
  height: 24px;
}
.register-text04 {
  color: var(--dl-color-colorscheme-7);
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  vertical-align: middle;
}
.register-dropdown-arrow {
  transition: 0.3s;
}
.register-icon10 {
  fill: var(--dl-color-colorscheme-2);
  width: 32px;
  height: 32px;
}
.register-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: #FFFFFF;
  list-style-position: inside;
}
.register-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.register-dropdown-toggle01 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.register-dropdown-toggle01:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.register-text05 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.register-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.register-dropdown-toggle02 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.register-dropdown-toggle02:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.register-text06 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.register-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.register-dropdown-toggle03 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.register-dropdown-toggle03:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.register-text07 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.register-thq-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.register-dropdown-toggle04 {
  gap: var(--dl-space-space-halfunit);
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-colorscheme-1);
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius10);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.register-container15 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-colorscheme-2);
}
.register-icon12 {
  fill: var(--dl-color-colorscheme-5);
  width: 24px;
  height: 24px;
}
.register-text08 {
  color: var(--dl-color-colorscheme-7);
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  vertical-align: middle;
}
.register-dropdown-arrow1 {
  transition: 0.3s;
}
.register-icon14 {
  fill: var(--dl-color-colorscheme-2);
  width: 32px;
  height: 32px;
}
.register-dropdown-list1 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: #FFFFFF;
  list-style-position: inside;
}
.register-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.register-dropdown-toggle05 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.register-dropdown-toggle05:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.register-text09 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.register-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.register-dropdown-toggle06 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.register-dropdown-toggle06:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.register-text10 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.register-dropdown5 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.register-dropdown-toggle07 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.register-dropdown-toggle07:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.register-text11 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.register-thq-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.register-dropdown-toggle08 {
  gap: var(--dl-space-space-halfunit);
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-colorscheme-1);
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius10);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.register-container16 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-colorscheme-2);
}
.register-icon16 {
  fill: var(--dl-color-colorscheme-5);
  width: 24px;
  height: 24px;
}
.register-text12 {
  color: var(--dl-color-colorscheme-7);
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  vertical-align: middle;
}
.register-dropdown-arrow2 {
  transition: 0.3s;
}
.register-icon18 {
  fill: var(--dl-color-colorscheme-2);
  width: 32px;
  height: 32px;
}
.register-dropdown-list2 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: #FFFFFF;
  list-style-position: inside;
}
.register-dropdown6 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.register-dropdown-toggle09 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.register-dropdown-toggle09:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.register-text13 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.register-dropdown7 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.register-dropdown-toggle10 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.register-dropdown-toggle10:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.register-text14 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.register-dropdown8 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.register-dropdown-toggle11 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.register-dropdown-toggle11:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.register-text15 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.register-container17 {
  gap: 4px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.register-checkbox {
  width: 25px;
  height: 25px;
}
.register-stay-signed-in {
  color: var(--dl-color-colorscheme-1);
}
.register-text16 {
  color: var(--dl-color-colorscheme-1);
  font-style: normal;
  font-weight: 500;
  text-decoration: underline;
}
.register-container18 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.register-component3 {
  text-decoration: none;
}
.register-text17 {
  color: var(--dl-color-colorscheme-1);
  font-style: normal;
  font-weight: 900;
}
@media(max-width: 1600px) {
  .register-form {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
}
@media(max-width: 991px) {
  .register-container08 {
    flex-wrap: wrap;
  }
  .register-container13 {
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .register-container02 {
    width: 90%;
  }
  .register-container17 {
    align-self: center;
    margin-bottom: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 479px) {
  .register-container13 {
    justify-content: flex-start;
  }
  .register-thq-dropdown {
    width: 100%;
  }
  .register-dropdown-toggle {
    gap: 0;
    justify-content: space-between;
  }
  .register-thq-dropdown1 {
    width: 100%;
  }
  .register-dropdown-toggle04 {
    gap: 0;
    justify-content: space-between;
  }
  .register-thq-dropdown2 {
    width: 100%;
  }
  .register-dropdown-toggle08 {
    gap: 0;
    justify-content: space-between;
  }
}
