.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-about-us {
  color: var(--dl-color-colorscheme-7);
  cursor: pointer;
  cursor:: hand;
  text-decoration: none;
}
.navigation-links-study {
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-left: var(--dl-space-space-twounits);
  border-radius: 2px;
}
.navigation-links-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
}
.navigation-links-text {
  color: var(--dl-color-colorscheme-7);
  font-style: normal;
  text-align: center;
  margin-right: 4px;
  vertical-align: middle;
}
.navigation-links-dropdown-arrow {
  transition: 0.3s;
}
.navigation-links-icon {
  fill: var(--dl-color-colorscheme-7);
  width: 18px;
  height: 18px;
  margin-top: auto;
  transition: 0.3s;
  margin-bottom: auto;
}
.navigation-links-dropdown-list {
  left: 0px;
  width: 74px;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  margin-top: 0px;
  transition: 0.3s;
  align-items: stretch;
  margin-left: -8px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius10);
  flex-direction: column;
  list-style-type: none;
  background-color: #FFFFFF;
  list-style-position: inside;
}
.navigation-links-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.navigation-links-dropdown-toggle1 {
  fill: #595959;
  color: var(--dl-color-colorscheme-7);
  width: 100%;
  cursor: pointer;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  text-decoration: none;
}
.navigation-links-dropdown-toggle1:hover {
  fill: #fff;
  color: var(--dl-color-colorscheme-5);
  border-radius: var(--dl-radius-radius-radius10);
  background-color: var(--dl-color-colorscheme-7);
  border-bottom-left-radius: var(--dl-radius-radius-radiusempty);
  border-bottom-right-radius: var(--dl-radius-radius-radiusempty);
}
.navigation-links-text3 {
  width: auto;
  cursor: pointer;
  display: flex;
  font-style: normal;
  text-align: center;
}
.navigation-links-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.navigation-links-dropdown-toggle2 {
  fill: #595959;
  color: var(--dl-color-colorscheme-7);
  width: 100%;
  cursor: pointer;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  text-decoration: none;
}
.navigation-links-dropdown-toggle2:hover {
  fill: #fff;
  color: var(--dl-color-colorscheme-5);
  background-color: var(--dl-color-colorscheme-7);
}
.navigation-links-text4 {
  width: auto;
  cursor: pointer;
  display: flex;
  font-style: normal;
  text-align: center;
}
.navigation-links-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.navigation-links-dropdown-toggle3 {
  fill: #595959;
  color: var(--dl-color-colorscheme-7);
  width: 100%;
  cursor: pointer;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius10);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  text-decoration: none;
  border-top-left-radius: var(--dl-radius-radius-radiusempty);
  border-top-right-radius: var(--dl-radius-radius-radiusempty);
  border-bottom-left-radius: var(--dl-radius-radius-radius10);
  border-bottom-right-radius: var(--dl-radius-radius-radius10);
}
.navigation-links-dropdown-toggle3:hover {
  fill: #fff;
  color: var(--dl-color-colorscheme-5);
  background-color: var(--dl-color-colorscheme-7);
}
.navigation-links-text5 {
  width: auto;
  cursor: pointer;
  display: flex;
  font-style: normal;
  text-align: center;
}
.navigation-links-tokens {
  cursor:: hand;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: row;
}
.navigation-links-text6 {
  cursor: pointer;
  text-decoration: none;
}
.navigation-links-token-amount {
  color: var(--dl-color-colorscheme-5);
  width: 25px;
  height: 25px;
  padding: 4px;
  text-align: center;
  margin-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-colorscheme-7);
}
.navigation-links-question-board {
  cursor: pointer;
  cursor:: hand;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink3 {
  display: contents;
}
.navigation-links-account {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: row;
  text-decoration: none;
}
.navigation-links-icon2 {
  width: 25px;
  height: 25px;
  align-self: flex-end;
}
.navigation-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navigation-links-text8 {
  color: var(--dl-color-colorscheme-1);
  font-size: 8px;
  font-style: normal;
  font-weight: 600;
}









@media(max-width: 1600px) {
  .navigation-links-nav {
    align-items: center;
    justify-content: flex-start;
  }
}
@media(max-width: 991px) {
  .navigation-links-about-us {
    font-family: Poppins;
  }
  .navigation-links-dropdown-list {
    margin-left: 14px;
  }
  .navigation-links-dropdown-toggle1 {
    justify-content: flex-start;
  }
  .navigation-links-text3 {
    text-align: left;
  }
  .navigation-links-dropdown-toggle2 {
    justify-content: flex-start;
  }
  .navigation-links-text4 {
    text-align: left;
  }
  .navigation-links-dropdown-toggle3 {
    justify-content: flex-start;
  }
  .navigation-links-text5 {
    text-align: left;
  }
  .navigation-links-text6 {
    font-family: Poppins;
  }
  .navigation-links-question-board {
    font-family: Poppins;
  }
}
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: center;
    flex-direction: column;
  }
  .navigation-links-about-us {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-study {
    margin-left: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-tokens {
    margin-left: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text6 {
    margin-left: 0px;
  }
  .navigation-links-token-amount {
    margin-left: var(--dl-space-space-halfunit);
  }
  .navigation-links-question-board {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-account {
    margin-left: 0px;
  }
  .navigation-links-icon2 {
    align-self: center;
    margin-left: 0px;
  }
}
@media(max-width: 479px) {
  .navigation-links-nav {
    align-items: center;
  }
}

.header-header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: var(--dl-color-colorscheme-5);
}
.header-top {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-container {
  flex: 0 0 auto;
  width: 33%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.header-navlink {
  display: contents;
}
.header-logo-with-name {
  gap: var(--dl-space-space-unit);
  width: auto;
  cursor: pointer;
  display: flex;
  max-height: 100px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
.header-image {
  width: 50px;
  height: 50px;
  align-self: center;
  border-radius: var(--dl-radius-radius-round);
}
.header-text {
  color: var(--dl-color-colorscheme-3);
  font-size: 32px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.header-login-register {
  gap: var(--dl-space-space-unit);
  width: 33%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.header-container1 {
  display: flex;
  position: relative;
}
.header-navlink1 {
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  align-self: center;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  text-align: center;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius10);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-colorscheme-7);
}
.header-container2 {
  display: flex;
  position: relative;
}
.header-register {
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  align-self: center;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  text-align: center;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius10);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-colorscheme-3);
}
.header-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.header-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.header-nav {
  margin-top: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-colorscheme-3);
  border-width: 2px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.header-accordion-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.header-accordion-content {
  display: flex;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s ease-in-out;
  align-items: center;
  flex-direction: column;
}
.header-nav1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

















@media(max-width: 1600px) {
  .header-header {
    position: static;
  }
}
@media(max-width: 991px) {
  .header-image {
    width: 50px;
    height: 50px;
  }
  .header-nav1 {
    padding-top: 16px;
  }
}
@media(max-width: 767px) {
  .header-header {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .header-top {
    gap: 0;
    justify-content: flex-start;
  }
  .header-container {
    width: 0%;
  }
  .header-login-register {
    width: auto;
    margin-left: auto;
    justify-content: center;
  }
  .header-nav {
    display: none;
  }
  .header-accordion-header {
    margin-top: var(--dl-space-space-twounits);
  }
  .header-icon {
    display: flex;
  }
}
@media(max-width: 479px) {
  .header-header {
    padding: var(--dl-space-space-unit);
  }
  .header-top {
    flex-direction: column;
  }
  .header-login-register {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .header-accordion-header {
    margin-top: var(--dl-space-space-unit);
  }
}

.button-yellow-container {
  display: flex;
  position: relative;
}
.button-yellow-register {
  color: rgb(255, 255, 255);
  width: auto;
  cursor: pointer;
  height: auto;
  align-self: center;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  text-align: center;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius10);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-colorscheme-3);
}
.button-yellow-root-class-name {
  align-self: center;
}

.button-yellow-root-class-name2 {
  margin-left: auto;
}
.button-yellow-root-class-name3 {
  align-self: center;
}

.social-bar-social-bar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  justify-content: center;
  background-color: var(--dl-color-colorscheme-5);
}
.social-bar-container {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.social-bar-link {
  display: contents;
}
.social-bar-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.social-bar-link1 {
  display: contents;
}
.social-bar-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.social-bar-icon4 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.social-bar-icon6 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.social-bar-root-class-name {
  flex: 1;
}
.social-bar-root-class-name1 {
  flex: 1;
}
@media(max-width: 767px) {
  .social-bar-social-bar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .social-bar-social-bar {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}

.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: var(--dl-color-colorscheme-3);
}
.footer-text {
  color: var(--dl-color-colorscheme-5);
  font-size: 32px;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.footer-text1 {
  color: var(--dl-color-colorscheme-5);
  font-style: italic;
  font-weight: 500;
}
.footer-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-link {
  display: contents;
}
.footer-icon {
  fill: var(--dl-color-colorscheme-5);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footer-link1 {
  display: contents;
}
.footer-icon2 {
  fill: var(--dl-color-colorscheme-5);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footer-link2 {
  display: contents;
}
.footer-icon4 {
  fill: var(--dl-color-colorscheme-5);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footer-icon6 {
  fill: var(--dl-color-colorscheme-5);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.footer-root-class-name {
  margin-top: auto;
}
.footer-root-class-name1 {
  margin-top: auto;
}


.footer-root-class-name4 {
  margin-top: auto;
}
.footer-root-class-name5 {
  margin-top: auto;
}
.footer-root-class-name6 {
  margin-top: auto;
}
.footer-root-class-name7 {
  margin-top: auto;
}
.footer-root-class-name8 {
  margin-top: auto;
}
.footer-root-class-name9 {
  margin-top: auto;
}
.footer-root-class-name10 {
  margin-top: auto;
}
.footer-root-class-name11 {
  margin-top: auto;
}
.footer-root-class-name12 {
  margin-top: auto;
}
.footer-root-class-name13 {
  margin-top: auto;
}
.footer-root-class-name14 {
  margin-top: auto;
}
.footer-root-class-name15 {
  margin-top: auto;
}
.footer-root-class-name16 {
  margin-top: auto;
}
@media(max-width: 1600px) {
  .footer-footer {
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .footer-text {
    margin-left: 0px;
  }
  .footer-text1 {
    font-style: italic;
    text-align: center;
    font-weight: 400;
    text-transform: capitalize;
  }
  .footer-icon-group {
    justify-content: space-between;
  }
  .footer-icon {
    margin-right: var(--dl-space-space-twounits);
  }
  .footer-icon2 {
    margin-right: var(--dl-space-space-twounits);
  }
  .footer-icon4 {
    margin-right: var(--dl-space-space-twounits);
  }
  .footer-root-class-name {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name1 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name4 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name5 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name6 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name7 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name8 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name9 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name10 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name11 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name12 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name13 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name14 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name15 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name16 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
}
@media(max-width: 991px) {
  .footer-footer {
    margin-top: auto;
  }
  .footer-root-class-name1 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name4 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name5 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name6 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name7 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name8 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name9 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name10 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name11 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name12 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name13 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name14 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name15 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name16 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
}
@media(max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-text1 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .footer-text2 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .footer-text1 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-text2 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-root-class-name {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
}

.specify-upload-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: auto;
  justify-content: flex-start;
  background-image: url("public/colored-1500w.png");
  background-position: center;
}
.specify-upload-container1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  background-color: var(--dl-color-colorscheme-1);
}
.specify-upload-text {
  color: var(--dl-color-colorscheme-5);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.specify-upload-form {
  width: 60%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius25);
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-colorscheme-5);
}
.specify-upload-text03 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.specify-upload-textinput {
  width: 75%;
  padding: 0.5rem;
  border-color: var(--dl-color-colorscheme-7);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-unit);
}
.specify-upload-text04 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.specify-upload-textarea {
  width: 100%;
  max-width: 100%;
  min-height: 36px;
  border-color: var(--dl-color-colorscheme-7);
  margin-bottom: var(--dl-space-space-unit);
}
.specify-upload-container2 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.specify-upload-container3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.specify-upload-text05 {
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.specify-upload-select {
  padding: 0.5rem;
  border-color: var(--dl-color-colorscheme-7);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-unit);
}
.specify-upload-container4 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.specify-upload-text08 {
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.specify-upload-select1 {
  padding: 0.5rem;
  border-color: var(--dl-color-colorscheme-7);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-unit);
}
.specify-upload-container5 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.specify-upload-text09 {
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.specify-upload-select2 {
  padding: 0.5rem;
  border-color: var(--dl-color-colorscheme-7);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-unit);
}
.specify-upload-text10 {
  align-self: center;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.specify-upload-navlink {
  display: contents;
}
.specify-upload-component1 {
  text-decoration: none;
}
@media(max-width: 1200px) {
  .specify-upload-text {
    color: var(--dl-color-colorscheme-5);
  }
}
@media(max-width: 991px) {
  .specify-upload-container2 {
    gap: 0;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .specify-upload-form {
    width: 60%;
  }
  .specify-upload-container2 {
    flex-direction: column;
  }
  .specify-upload-container3 {
    align-items: flex-start;
  }
  .specify-upload-text05 {
    text-align: left;
  }
  .specify-upload-container4 {
    align-items: flex-start;
  }
  .specify-upload-text08 {
    text-align: left;
  }
  .specify-upload-container5 {
    align-items: flex-start;
    margin-left: 0px;
  }
  .specify-upload-text09 {
    text-align: left;
  }
}
@media(max-width: 479px) {
  .specify-upload-form {
    width: 100%;
    align-self: center;
  }
  .specify-upload-textinput {
    width: 100%;
  }
}
