.button-dark-blue-container {
  display: flex;
  position: relative;
}
.button-dark-blue-button {
  color: rgb(255, 255, 255);
  width: auto;
  cursor: pointer;
  height: auto;
  align-self: center;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  text-align: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius10);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-colorscheme-7);
}
.button-dark-blue-root-class-name {
  margin-top: var(--dl-space-space-twounits);
}
.button-dark-blue-root-class-name1 {
  margin-top: var(--dl-space-space-twounits);
}



.button-dark-blue-root-class-name5 {
  align-self: center;
}



.booster-plan-container {
  flex: 1;
  color: #FFFFFF;
  height: 450px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  max-width: 450px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius25);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-colorscheme-1);
}
.booster-plan-container:hover {
  transform: scale(1.02);
}
.booster-plan-text {
  font-size: 1.5rem;
  font-weight: 600;
}
.booster-plan-text01 {
  margin: var(--dl-space-space-twounits);
  font-size: 4rem;
  font-weight: 200;
}
.booster-plan-text02 {
  font-size: 2rem;
}
.booster-plan-text03 {
  font-style: normal;
  font-weight: 700;
}
.booster-plan-text04 {
  font-size: 2rem;
}
.booster-plan-text05 {
  font-weight: bold;
  margin-bottom: var(--dl-space-space-unit);
}
.booster-plan-text07 {
  font-style: normal;
  font-weight: 400;
}
.booster-plan-text08 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.booster-plan-text10 {
  font-style: normal;
  font-weight: 400;
}
.booster-plan-text11 {
  font-weight: bold;
  margin-bottom: var(--dl-space-space-unit);
}
.booster-plan-text13 {
  font-style: normal;
  font-weight: 400;
}
@media(max-width: 767px) {
  .booster-plan-container {
    width: 100%;
  }
}
