<div>
  <link href="./booster-plan.css" rel="stylesheet" />
  <div class="booster-plan-container">
    <span class="booster-plan-text"><span>BOOSTER</span></span>
    <span class="booster-plan-text01">
      <span class="booster-plan-text02">$</span>
      <span class="booster-plan-text03">8</span>
      <span class="booster-plan-text04">/month</span>
    </span>
    <span class="booster-plan-text05">
      <span>+5</span>
      <span class="booster-plan-text07">Tokens</span>
    </span>
    <span class="booster-plan-text08">
      <span>2x</span>
      <span class="booster-plan-text10">Faster token acquisition</span>
    </span>
    <span class="booster-plan-text11">
      <span>1</span>
      <span class="booster-plan-text13">Super question</span>
    </span>
    <div class="button-dark-blue-container button-dark-blue-root-class-name">
      <button class="button-dark-blue-button Button">
        <span>Learn more</span>
      </button>
    </div>
  </div>
</div>
