.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: var(--dl-color-colorscheme-3);
}
.footer-text {
  color: var(--dl-color-colorscheme-5);
  font-size: 32px;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.footer-text1 {
  color: var(--dl-color-colorscheme-5);
  font-style: italic;
  font-weight: 500;
}
.footer-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-link {
  display: contents;
}
.footer-icon {
  fill: var(--dl-color-colorscheme-5);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footer-link1 {
  display: contents;
}
.footer-icon2 {
  fill: var(--dl-color-colorscheme-5);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footer-link2 {
  display: contents;
}
.footer-icon4 {
  fill: var(--dl-color-colorscheme-5);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footer-icon6 {
  fill: var(--dl-color-colorscheme-5);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.footer-root-class-name {
  margin-top: auto;
}
.footer-root-class-name1 {
  margin-top: auto;
}


.footer-root-class-name4 {
  margin-top: auto;
}
.footer-root-class-name5 {
  margin-top: auto;
}
.footer-root-class-name6 {
  margin-top: auto;
}
.footer-root-class-name7 {
  margin-top: auto;
}
.footer-root-class-name8 {
  margin-top: auto;
}
.footer-root-class-name9 {
  margin-top: auto;
}
.footer-root-class-name10 {
  margin-top: auto;
}
.footer-root-class-name11 {
  margin-top: auto;
}
.footer-root-class-name12 {
  margin-top: auto;
}
.footer-root-class-name13 {
  margin-top: auto;
}
.footer-root-class-name14 {
  margin-top: auto;
}
.footer-root-class-name15 {
  margin-top: auto;
}
.footer-root-class-name16 {
  margin-top: auto;
}
@media(max-width: 1600px) {
  .footer-footer {
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .footer-text {
    margin-left: 0px;
  }
  .footer-text1 {
    font-style: italic;
    text-align: center;
    font-weight: 400;
    text-transform: capitalize;
  }
  .footer-icon-group {
    justify-content: space-between;
  }
  .footer-icon {
    margin-right: var(--dl-space-space-twounits);
  }
  .footer-icon2 {
    margin-right: var(--dl-space-space-twounits);
  }
  .footer-icon4 {
    margin-right: var(--dl-space-space-twounits);
  }
  .footer-root-class-name {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name1 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name4 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name5 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name6 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name7 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name8 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name9 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name10 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name11 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name12 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name13 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name14 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name15 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name16 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
}
@media(max-width: 991px) {
  .footer-footer {
    margin-top: auto;
  }
  .footer-root-class-name1 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name4 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name5 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name6 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name7 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name8 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name9 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name10 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name11 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name12 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name13 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name14 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name15 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .footer-root-class-name16 {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
}
@media(max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-text1 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .footer-text2 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .footer-text1 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-text2 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-root-class-name {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
}
