<div>
  <link href="./free-plan.css" rel="stylesheet" />
  <div class="free-plan-container">
    <span class="free-plan-text"><span>Free</span></span>
    <span class="free-plan-text01">
      <span class="free-plan-text02">$</span>
      <span class="free-plan-text03">0</span>
    </span>
    <span class="free-plan-text04">
      <span class="free-plan-text05">10</span>
      <span> Start points</span>
    </span>
    <span class="free-plan-text07">
      <span class="free-plan-text08">+1</span>
      <span> For each correct answer</span>
    </span>
    <span class="free-plan-text10">
      <span class="free-plan-text11">+1</span>
      <span> For each upload</span>
    </span>
    <span class="free-plan-text13"><span>NO ADS</span></span>
    <span class="free-plan-text14"><span>NO OTHER LIMITS</span></span>
  </div>
</div>
