<div>
  <link href="./header.css" rel="stylesheet" />
  <header data-role="Accordion" class="header-header">
    <div class="header-top">
      <div class="header-container"></div>
      <a href="index.html" class="header-navlink">
        <div class="header-logo-with-name">
          <img
            alt="logo"
            src="fb73a8c9-aaca-4d97-981b-8a6224480822"
            loading="eager"
            class="header-image"
          />
          <h1 class="header-text"><span>StudyVault</span></h1>
        </div>
      </a>
      <div class="header-login-register">
        <div class="header-container1">
          <a href="login.html" class="header-navlink1 Button button">
            <span>Login</span>
          </a>
        </div>
        <div class="header-container2">
          <a href="register.html" class="header-register button Button">
            <span>Join</span>
          </a>
        </div>
      </div>
    </div>
    <div class="header-container3">
      <div class="header-container4">
        <nav class="header-nav">
          <nav class="navigation-links-nav navigation-links-root-class-name19">
            <a href="about-us.html" class="navigation-links-about-us">
              <span>👋About us</span>
            </a>
            <div
              data-thq="thq-dropdown"
              class="navigation-links-study list-item"
            >
              <div
                data-thq="thq-dropdown-toggle"
                class="navigation-links-dropdown-toggle"
              >
                <span class="navigation-links-text">
                  <span>📚</span>
                  <span class="Content">Study</span>
                </span>
                <div
                  data-thq="thq-dropdown-arrow"
                  class="navigation-links-dropdown-arrow"
                >
                  <svg viewBox="0 0 1024 1024" class="navigation-links-icon">
                    <path d="M426 726v-428l214 214z"></path>
                  </svg>
                </div>
              </div>
              <ul
                data-thq="thq-dropdown-list"
                class="navigation-links-dropdown-list"
              >
                <li
                  data-thq="thq-dropdown"
                  class="navigation-links-dropdown list-item"
                >
                  <a href="share-upload.html">
                    <div
                      data-thq="thq-dropdown-toggle"
                      class="navigation-links-dropdown-toggle1"
                    >
                      <span class="navigation-links-text3 Content">Share</span>
                    </div>
                  </a>
                </li>
                <li
                  data-thq="thq-dropdown"
                  class="navigation-links-dropdown1 list-item"
                >
                  <a href="learn-download.html">
                    <div
                      data-thq="thq-dropdown-toggle"
                      class="navigation-links-dropdown-toggle2"
                    >
                      <span class="navigation-links-text4 Content">Learn</span>
                    </div>
                  </a>
                </li>
                <li
                  data-thq="thq-dropdown"
                  class="navigation-links-dropdown2 list-item"
                >
                  <a href="study-tips.html">
                    <div
                      data-thq="thq-dropdown-toggle"
                      class="navigation-links-dropdown-toggle3"
                    >
                      <span class="navigation-links-text5 Content">Tips</span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="navigation-links-tokens">
              <a href="tokens.html" class="navigation-links-text6">
                <span>💰Tokens</span>
              </a>
              <span class="navigation-links-token-amount"><span>13</span></span>
            </div>
            <a
              href="question-board.html"
              class="navigation-links-question-board"
            >
              <span>📌Question Board</span>
            </a>
            <a href="account.html" class="navigation-links-navlink3">
              <div class="navigation-links-account">
                <svg viewBox="0 0 1024 1024" class="navigation-links-icon2">
                  <path
                    d="M512 820q68 0 143-40t113-98q-2-56-90-94t-166-38-166 37-90 95q38 58 113 98t143 40zM512 214q-52 0-90 38t-38 90 38 90 90 38 90-38 38-90-38-90-90-38zM512 86q176 0 301 125t125 301-125 301-301 125-301-125-125-301 125-301 301-125z"
                  ></path>
                </svg>
                <div class="navigation-links-container">
                  <span><span>Username</span></span>
                  <span class="navigation-links-text8">
                    <span>View profile</span>
                  </span>
                </div>
              </div>
            </a>
          </nav>
        </nav>
      </div>
    </div>
    <div data-role="AccordionHeader" class="header-accordion-header">
      <svg viewBox="0 0 1024 1024" class="header-icon">
        <path
          d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
        ></path>
      </svg>
    </div>
    <div data-role="AccordionContent" class="header-accordion-content">
      <div class="header-nav1">
        <nav class="navigation-links-nav navigation-links-root-class-name20">
          <a href="about-us.html" class="navigation-links-about-us">
            <span>👋About us</span>
          </a>
          <div data-thq="thq-dropdown" class="navigation-links-study list-item">
            <div
              data-thq="thq-dropdown-toggle"
              class="navigation-links-dropdown-toggle"
            >
              <span class="navigation-links-text">
                <span>📚</span>
                <span class="Content">Study</span>
              </span>
              <div
                data-thq="thq-dropdown-arrow"
                class="navigation-links-dropdown-arrow"
              >
                <svg viewBox="0 0 1024 1024" class="navigation-links-icon">
                  <path d="M426 726v-428l214 214z"></path>
                </svg>
              </div>
            </div>
            <ul
              data-thq="thq-dropdown-list"
              class="navigation-links-dropdown-list"
            >
              <li
                data-thq="thq-dropdown"
                class="navigation-links-dropdown list-item"
              >
                <a href="share-upload.html">
                  <div
                    data-thq="thq-dropdown-toggle"
                    class="navigation-links-dropdown-toggle1"
                  >
                    <span class="navigation-links-text3 Content">Share</span>
                  </div>
                </a>
              </li>
              <li
                data-thq="thq-dropdown"
                class="navigation-links-dropdown1 list-item"
              >
                <a href="learn-download.html">
                  <div
                    data-thq="thq-dropdown-toggle"
                    class="navigation-links-dropdown-toggle2"
                  >
                    <span class="navigation-links-text4 Content">Learn</span>
                  </div>
                </a>
              </li>
              <li
                data-thq="thq-dropdown"
                class="navigation-links-dropdown2 list-item"
              >
                <a href="study-tips.html">
                  <div
                    data-thq="thq-dropdown-toggle"
                    class="navigation-links-dropdown-toggle3"
                  >
                    <span class="navigation-links-text5 Content">Tips</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="navigation-links-tokens">
            <a href="tokens.html" class="navigation-links-text6">
              <span>💰Tokens</span>
            </a>
            <span class="navigation-links-token-amount"><span>13</span></span>
          </div>
          <a href="question-board.html" class="navigation-links-question-board">
            <span>📌Question Board</span>
          </a>
          <a href="account.html" class="navigation-links-navlink3">
            <div class="navigation-links-account">
              <svg viewBox="0 0 1024 1024" class="navigation-links-icon2">
                <path
                  d="M512 820q68 0 143-40t113-98q-2-56-90-94t-166-38-166 37-90 95q38 58 113 98t143 40zM512 214q-52 0-90 38t-38 90 38 90 90 38 90-38 38-90-38-90-90-38zM512 86q176 0 301 125t125 301-125 301-301 125-301-125-125-301 125-301 301-125z"
                ></path>
              </svg>
              <div class="navigation-links-container">
                <span><span>Username</span></span>
                <span class="navigation-links-text8">
                  <span>View profile</span>
                </span>
              </div>
            </div>
          </a>
        </nav>
      </div>
    </div>
  </header>
</div>
