.interactions-in-card-container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.interactions-in-card-container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.interactions-in-card-container2 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  border-color: var(--dl-color-colorscheme-5);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-colorscheme-3);
}
.interactions-in-card-icon {
  fill: var(--dl-color-colorscheme-5);
  width: 24px;
  height: 24px;
}
.interactions-in-card-text {
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-unit);
}
.interactions-in-card-container3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.interactions-in-card-container4 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  border-color: var(--dl-color-colorscheme-5);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-colorscheme-3);
}
.interactions-in-card-icon2 {
  fill: var(--dl-color-colorscheme-5);
  width: 24px;
  height: 24px;
}
.interactions-in-card-text1 {
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-unit);
}
.interactions-in-card-container5 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.interactions-in-card-container6 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  border-color: var(--dl-color-colorscheme-5);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-colorscheme-3);
}
.interactions-in-card-icon4 {
  fill: var(--dl-color-colorscheme-5);
  width: 24px;
  height: 24px;
}
.interactions-in-card-text2 {
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-unit);
}


@media(max-width: 479px) {
  .interactions-in-card-icon {
    width: 12px;
    height: 12px;
  }
  .interactions-in-card-icon2 {
    width: 12px;
    height: 12px;
  }
  .interactions-in-card-icon4 {
    width: 12px;
    height: 12px;
  }
}
