<div>
  <link href="./login-register-input.css" rel="stylesheet" />
  <div class="login-register-input-container">
    <div class="login-register-input-container1">
      <svg viewBox="0 0 1024 1024" class="login-register-input-icon">
        <path
          d="M512 598q108 0 225 47t117 123v86h-684v-86q0-76 117-123t225-47zM512 512q-70 0-120-50t-50-120 50-121 120-51 120 51 50 121-50 120-120 50z"
        ></path>
      </svg>
    </div>
    <input
      type="text"
      placeholder="username or email"
      class="login-register-input-textinput input-inverted"
    />
  </div>
</div>
