<div>
  <link href="./login.css" rel="stylesheet" />
  <div class="login-container">
    <div class="login-container1">
      <h1 class="login-text"><span>LOGIN</span></h1>
      <span class="login-text1">
        <span>Welcome back!</span>
        <br />
      </span>
    </div>
    <form class="login-form">
      <div class="login-register-input-container">
        <div class="login-register-input-container1">
          <svg viewBox="0 0 1024 1024" class="login-register-input-icon">
            <path
              d="M512 598q108 0 225 47t117 123v86h-684v-86q0-76 117-123t225-47zM512 512q-70 0-120-50t-50-120 50-121 120-51 120 51 50 121-50 120-120 50z"
            ></path>
          </svg>
        </div>
        <input
          type="text"
          placeholder="username or email"
          class="login-register-input-textinput input-inverted"
        />
      </div>
      <div class="login-register-password-container">
        <div class="login-register-password-container1">
          <svg
            viewBox="0 0 658.2857142857142 1024"
            class="login-register-password-icon"
          >
            <path
              d="M182.857 438.857h292.571v-109.714c0-80.571-65.714-146.286-146.286-146.286s-146.286 65.714-146.286 146.286v109.714zM658.286 493.714v329.143c0 30.286-24.571 54.857-54.857 54.857h-548.571c-30.286 0-54.857-24.571-54.857-54.857v-329.143c0-30.286 24.571-54.857 54.857-54.857h18.286v-109.714c0-140.571 115.429-256 256-256s256 115.429 256 256v109.714h18.286c30.286 0 54.857 24.571 54.857 54.857z"
            ></path>
          </svg>
        </div>
        <input
          type="text"
          placeholder="password"
          class="login-register-password-textinput input-inverted"
        />
        <svg viewBox="0 0 1024 1024" class="login-register-password-icon2">
          <path
            d="M512 384q52 0 90 38t38 90-38 90-90 38-90-38-38-90 38-90 90-38zM512 726q88 0 151-63t63-151-63-151-151-63-151 63-63 151 63 151 151 63zM512 192q158 0 286 88t184 232q-56 144-184 232t-286 88-286-88-184-232q56-144 184-232t286-88z"
          ></path>
        </svg>
      </div>
    </form>
    <div class="login-container2">
      <div class="login-container3">
        <input type="checkbox" checked class="login-checkbox" />
        <span class="login-stay-signed-in"><span>Remember me</span></span>
      </div>
      <span class="login-text4"><span>Reset password</span></span>
    </div>
    <div class="login-container4">
      <a href="index.html" class="login-navlink">
        <div
          class="button-light-blue-container button-light-blue-root-class-name3"
        >
          <button class="button-light-blue-button Button">
            <span>LOGIN</span>
          </button>
        </div>
      </a>
      <span class="login-text5"><span>OR</span></span>
      <div class="login-register-google-container">
        <img
          alt="image"
          src="public/google__g__logo-200w.png"
          class="login-register-google-image"
        />
        <span class="login-register-google-text">
          <span>Sign in with Google</span>
        </span>
      </div>
    </div>
  </div>
</div>
