.login-register-google-container {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: center;
  border-color: var(--dl-color-colorscheme-2);
  border-style: solid;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius25);
  flex-direction: row;
  justify-content: center;
}
.login-register-google-image {
  width: 25px;
  object-fit: cover;
}
.login-register-google-text {
  color: var(--dl-color-colorscheme-2);
  font-style: normal;
  font-weight: 500;
}


