.login-register-password-container {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  border-color: var(--dl-color-colorscheme-1);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius10);
  background-color: var(--dl-color-colorscheme-5);
}
.login-register-password-container1 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-colorscheme-2);
}
.login-register-password-icon {
  fill: var(--dl-color-colorscheme-5);
  width: 24px;
  height: 24px;
}
.login-register-password-textinput {
  width: 100%;
}
.login-register-password-icon2 {
  fill: var(--dl-color-colorscheme-2);
  width: 25px;
  height: 25px;
  align-self: center;
}







