.login-register-input-container {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  border-color: var(--dl-color-colorscheme-1);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius10);
  background-color: var(--dl-color-colorscheme-5);
}
.login-register-input-container1 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-colorscheme-2);
}
.login-register-input-icon {
  fill: var(--dl-color-colorscheme-5);
  width: 24px;
  height: 24px;
}
.login-register-input-textinput {
  width: 100%;
}

.login-register-password-container {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  border-color: var(--dl-color-colorscheme-1);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius10);
  background-color: var(--dl-color-colorscheme-5);
}
.login-register-password-container1 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-colorscheme-2);
}
.login-register-password-icon {
  fill: var(--dl-color-colorscheme-5);
  width: 24px;
  height: 24px;
}
.login-register-password-textinput {
  width: 100%;
}
.login-register-password-icon2 {
  fill: var(--dl-color-colorscheme-2);
  width: 25px;
  height: 25px;
  align-self: center;
}








.button-light-blue-container {
  display: flex;
  position: relative;
}
.button-light-blue-button {
  color: rgb(255, 255, 255);
  width: auto;
  cursor: pointer;
  height: 100%;
  align-self: center;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  text-align: center;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius10);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-colorscheme-2);
}









.login-register-google-container {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: center;
  border-color: var(--dl-color-colorscheme-2);
  border-style: solid;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius25);
  flex-direction: row;
  justify-content: center;
}
.login-register-google-image {
  width: 25px;
  object-fit: cover;
}
.login-register-google-text {
  color: var(--dl-color-colorscheme-2);
  font-style: normal;
  font-weight: 500;
}



.login-container {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: relative;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius25);
  flex-direction: column;
  background-color: var(--dl-color-colorscheme-5);
}
.login-container1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.login-text {
  color: var(--dl-color-colorscheme-1);
}
.login-text1 {
  color: var(--dl-color-colorscheme-1);
}
.login-form {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.login-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.login-container3 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.login-checkbox {
  width: 25px;
  height: 25px;
}
.login-stay-signed-in {
  color: var(--dl-color-colorscheme-1);
}
.login-text4 {
  color: var(--dl-color-colorscheme-1);
  font-style: normal;
  font-weight: 500;
  text-decoration: underline;
}
.login-container4 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.login-navlink {
  display: contents;
}
.login-component2 {
  text-decoration: none;
}
.login-text5 {
  color: var(--dl-color-colorscheme-1);
  font-style: normal;
  font-weight: 900;
}
@media(max-width: 1600px) {
  .login-form {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .login-container {
    width: 90%;
  }
}
@media(max-width: 479px) {
  .login-container2 {
    align-items: flex-start;
    flex-direction: column;
  }
}
