.interactions-in-card-container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.interactions-in-card-container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.interactions-in-card-container2 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  border-color: var(--dl-color-colorscheme-5);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-colorscheme-3);
}
.interactions-in-card-icon {
  fill: var(--dl-color-colorscheme-5);
  width: 24px;
  height: 24px;
}
.interactions-in-card-text {
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-unit);
}
.interactions-in-card-container3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.interactions-in-card-container4 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  border-color: var(--dl-color-colorscheme-5);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-colorscheme-3);
}
.interactions-in-card-icon2 {
  fill: var(--dl-color-colorscheme-5);
  width: 24px;
  height: 24px;
}
.interactions-in-card-text1 {
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-unit);
}
.interactions-in-card-container5 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.interactions-in-card-container6 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  border-color: var(--dl-color-colorscheme-5);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-colorscheme-3);
}
.interactions-in-card-icon4 {
  fill: var(--dl-color-colorscheme-5);
  width: 24px;
  height: 24px;
}
.interactions-in-card-text2 {
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-unit);
}


@media(max-width: 479px) {
  .interactions-in-card-icon {
    width: 12px;
    height: 12px;
  }
  .interactions-in-card-icon2 {
    width: 12px;
    height: 12px;
  }
  .interactions-in-card-icon4 {
    width: 12px;
    height: 12px;
  }
}

.material-post-blog-post-card {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: row;
  justify-content: center;
}
.material-post-container {
  width: 100%;
  display: flex;
  align-items: stretch;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: row;
  justify-content: space-between;
}
.material-post-image {
  width: 140px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius25);
  border-top-right-radius: var(--dl-radius-radius-radiusempty);
  border-bottom-right-radius: var(--dl-radius-radius-radiusempty);
}
.material-post-container1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
  background-color: var(--dl-color-colorscheme-5);
}
.material-post-container2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.material-post-text {
  color: var(--dl-color-colorscheme-7);
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}
.material-post-text1 {
  color: var(--dl-color-colorscheme-7);
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}
.material-post-container3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.material-post-container4 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  border-color: var(--dl-color-colorscheme-5);
  border-radius: var(--dl-radius-radius-radius25);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-colorscheme-3);
}
.material-post-icon {
  fill: var(--dl-color-colorscheme-5);
  width: 24px;
  height: 24px;
}
.material-post-text2 {
  color: var(--dl-color-colorscheme-5);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.material-post-text3 {
  color: var(--dl-color-colorscheme-3);
  margin-bottom: var(--dl-space-space-unit);
}
.material-post-container5 {
  display: flex;
  align-items: flex-start;
  margin-bottom: auto;
  flex-direction: column;
  justify-content: flex-start;
}
.material-post-navlink {
  color: #000000;
  font-weight: 500;
  text-decoration: none;
}
.material-post-container6 {
  width: 100%;
  display: flex;
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
.material-post-container7 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  margin-left: auto;
  flex-direction: row;
  justify-content: flex-start;
}
.material-post-image1 {
  width: 50px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.material-post-container8 {
  gap: 4px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}




@media(max-width: 767px) {
  .material-post-blog-post-card {
    flex-direction: column;
    justify-content: space-between;
  }
  .material-post-container {
    border-radius: 0px;
  }
  .material-post-container1 {
    width: 100%;
  }
  .material-post-text3 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .material-post-container6 {
    gap: var(--dl-space-space-unit);
    flex-wrap: wrap;
    margin-top: var(--dl-space-space-unit);
    justify-content: flex-start;
  }
  .material-post-container7 {
    margin-left: 0px;
  }
}
@media(max-width: 479px) {
  .material-post-container1 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .material-post-icon {
    width: 12px;
    height: 12px;
  }
  .material-post-navlink {
    width: auto;
  }
  .material-post-container6 {
    gap: var(--dl-space-space-unit);
  }
  .material-post-image1 {
    width: 25px;
  }
}
