.page-switching-container {
  flex: 0 0 auto;
  width: 75%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.page-switching-container1 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  justify-content: space-between;
  background-color: var(--dl-color-colorscheme-3);
}
.page-switching-icon {
  fill: var(--dl-color-colorscheme-5);
  width: 24px;
  height: 24px;
}
.page-switching-container2 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
  background-color: var(--dl-color-colorscheme-3);
}
.page-switching-textinput {
  width: 22.4px;
  text-align: center;
}
.page-switching-container3 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  justify-content: space-between;
  background-color: var(--dl-color-colorscheme-3);
}
.page-switching-icon2 {
  fill: var(--dl-color-colorscheme-5);
  width: 24px;
  height: 24px;
}
.page-switching-root-class-name {
  width: 100%;
}
