.login-register-password-container {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  border-color: var(--dl-color-colorscheme-1);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius10);
  background-color: var(--dl-color-colorscheme-5);
}
.login-register-password-container1 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-colorscheme-2);
}
.login-register-password-icon {
  fill: var(--dl-color-colorscheme-5);
  width: 24px;
  height: 24px;
}
.login-register-password-textinput {
  width: 100%;
}
.login-register-password-icon2 {
  fill: var(--dl-color-colorscheme-2);
  width: 25px;
  height: 25px;
  align-self: center;
}








.button-light-blue-container {
  display: flex;
  position: relative;
}
.button-light-blue-button {
  color: rgb(255, 255, 255);
  width: auto;
  cursor: pointer;
  height: 100%;
  align-self: center;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  text-align: center;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius10);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-colorscheme-2);
}









.login-register-google-container {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: center;
  border-color: var(--dl-color-colorscheme-2);
  border-style: solid;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius25);
  flex-direction: row;
  justify-content: center;
}
.login-register-google-image {
  width: 25px;
  object-fit: cover;
}
.login-register-google-text {
  color: var(--dl-color-colorscheme-2);
  font-style: normal;
  font-weight: 500;
}



.register-container {
  flex: 0 0 auto;
  width: 75%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: relative;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius25);
  flex-direction: column;
  background-color: var(--dl-color-colorscheme-5);
}
.register-container01 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.register-text {
  color: var(--dl-color-colorscheme-1);
}
.register-text01 {
  color: var(--dl-color-colorscheme-1);
}
.register-form {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.register-container02 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  border-color: var(--dl-color-colorscheme-1);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius10);
  background-color: var(--dl-color-colorscheme-5);
}
.register-container03 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-colorscheme-2);
}
.register-icon {
  fill: var(--dl-color-colorscheme-5);
  width: 24px;
  height: 24px;
}
.register-textinput {
  width: 100%;
}
.register-container04 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  border-color: var(--dl-color-colorscheme-1);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius10);
  background-color: var(--dl-color-colorscheme-5);
}
.register-container05 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-colorscheme-2);
}
.register-icon02 {
  fill: var(--dl-color-colorscheme-5);
  width: 24px;
  height: 24px;
}
.register-textinput1 {
  width: 100%;
}
.register-container06 {
  gap: var(--dl-space-space-unit);
  display: flex;
  flex-direction: row;
}
.register-container07 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  border-color: var(--dl-color-colorscheme-1);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius10);
  background-color: var(--dl-color-colorscheme-5);
}
.register-container08 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-colorscheme-2);
}
.register-icon04 {
  fill: var(--dl-color-colorscheme-5);
  width: 24px;
  height: 24px;
}
.register-textinput2 {
  width: 100%;
}
.register-container09 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  border-color: var(--dl-color-colorscheme-1);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius10);
  background-color: var(--dl-color-colorscheme-5);
}
.register-container10 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-colorscheme-2);
}
.register-icon06 {
  fill: var(--dl-color-colorscheme-5);
  width: 24px;
  height: 24px;
}
.register-textinput3 {
  width: 100%;
}
.register-container11 {
  gap: var(--dl-space-space-unit);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}
.register-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.register-dropdown-toggle {
  gap: var(--dl-space-space-halfunit);
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-colorscheme-1);
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius10);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.register-container12 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-colorscheme-2);
}
.register-icon08 {
  fill: var(--dl-color-colorscheme-5);
  width: 24px;
  height: 24px;
}
.register-text04 {
  color: var(--dl-color-colorscheme-7);
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  vertical-align: middle;
}
.register-dropdown-arrow {
  transition: 0.3s;
}
.register-icon10 {
  fill: var(--dl-color-colorscheme-2);
  width: 32px;
  height: 32px;
}
.register-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: #FFFFFF;
  list-style-position: inside;
}
.register-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.register-dropdown-toggle01 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.register-dropdown-toggle01:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.register-text05 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.register-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.register-dropdown-toggle02 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.register-dropdown-toggle02:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.register-text06 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.register-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.register-dropdown-toggle03 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.register-dropdown-toggle03:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.register-text07 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.register-thq-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.register-dropdown-toggle04 {
  gap: var(--dl-space-space-halfunit);
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-colorscheme-1);
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius10);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.register-container13 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-colorscheme-2);
}
.register-icon12 {
  fill: var(--dl-color-colorscheme-5);
  width: 24px;
  height: 24px;
}
.register-text08 {
  color: var(--dl-color-colorscheme-7);
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  vertical-align: middle;
}
.register-dropdown-arrow1 {
  transition: 0.3s;
}
.register-icon14 {
  fill: var(--dl-color-colorscheme-2);
  width: 32px;
  height: 32px;
}
.register-dropdown-list1 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: #FFFFFF;
  list-style-position: inside;
}
.register-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.register-dropdown-toggle05 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.register-dropdown-toggle05:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.register-text09 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.register-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.register-dropdown-toggle06 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.register-dropdown-toggle06:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.register-text10 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.register-dropdown5 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.register-dropdown-toggle07 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.register-dropdown-toggle07:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.register-text11 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.register-thq-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.register-dropdown-toggle08 {
  gap: var(--dl-space-space-halfunit);
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-colorscheme-1);
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius10);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.register-container14 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-colorscheme-2);
}
.register-icon16 {
  fill: var(--dl-color-colorscheme-5);
  width: 24px;
  height: 24px;
}
.register-text12 {
  color: var(--dl-color-colorscheme-7);
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  vertical-align: middle;
}
.register-dropdown-arrow2 {
  transition: 0.3s;
}
.register-icon18 {
  fill: var(--dl-color-colorscheme-2);
  width: 32px;
  height: 32px;
}
.register-dropdown-list2 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: #FFFFFF;
  list-style-position: inside;
}
.register-dropdown6 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.register-dropdown-toggle09 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.register-dropdown-toggle09:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.register-text13 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.register-dropdown7 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.register-dropdown-toggle10 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.register-dropdown-toggle10:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.register-text14 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.register-dropdown8 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.register-dropdown-toggle11 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.register-dropdown-toggle11:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.register-text15 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.register-container15 {
  gap: 4px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.register-checkbox {
  width: 25px;
  height: 25px;
}
.register-stay-signed-in {
  color: var(--dl-color-colorscheme-1);
}
.register-text16 {
  color: var(--dl-color-colorscheme-1);
  font-style: normal;
  font-weight: 500;
  text-decoration: underline;
}
.register-container16 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.register-navlink {
  display: contents;
}
.register-component2 {
  text-decoration: none;
}
.register-text17 {
  color: var(--dl-color-colorscheme-1);
  font-style: normal;
  font-weight: 900;
}
@media(max-width: 1600px) {
  .register-form {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
}
@media(max-width: 991px) {
  .register-container06 {
    flex-wrap: wrap;
  }
  .register-container11 {
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .register-container {
    width: 90%;
  }
  .register-container15 {
    align-self: center;
    margin-bottom: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 479px) {
  .register-container11 {
    justify-content: flex-start;
  }
  .register-thq-dropdown {
    width: 100%;
  }
  .register-dropdown-toggle {
    gap: 0;
    justify-content: space-between;
  }
  .register-thq-dropdown1 {
    width: 100%;
  }
  .register-dropdown-toggle04 {
    gap: 0;
    justify-content: space-between;
  }
  .register-thq-dropdown2 {
    width: 100%;
  }
  .register-dropdown-toggle08 {
    gap: 0;
    justify-content: space-between;
  }
}
