<div>
  <link href="./register.css" rel="stylesheet" />
  <div class="register-container">
    <div class="register-container01">
      <h1 class="register-text"><span>REGISTER</span></h1>
      <span class="register-text01">
        <span>
          Welcome to our platform! We just need a few details before you can
          continue
        </span>
        <br />
      </span>
    </div>
    <form class="register-form">
      <div class="register-container02">
        <div class="register-container03">
          <svg viewBox="0 0 1024 1024" class="register-icon">
            <path
              d="M512 598q108 0 225 47t117 123v86h-684v-86q0-76 117-123t225-47zM512 512q-70 0-120-50t-50-120 50-121 120-51 120 51 50 121-50 120-120 50z"
            ></path>
          </svg>
        </div>
        <input
          type="text"
          placeholder="Username"
          class="register-textinput input-inverted"
        />
      </div>
      <div class="register-container04">
        <div class="register-container05">
          <svg viewBox="0 0 1024 1024" class="register-icon02">
            <path
              d="M854 342v-86l-342 214-342-214v86l342 212zM854 170q34 0 59 26t25 60v512q0 34-25 60t-59 26h-684q-34 0-59-26t-25-60v-512q0-34 25-60t59-26h684z"
            ></path>
          </svg>
        </div>
        <input
          type="text"
          placeholder="Email"
          autocomplete="email"
          class="register-textinput1 input-inverted"
        />
      </div>
      <div class="register-container06">
        <div class="register-container07">
          <div class="register-container08">
            <svg viewBox="0 0 1024 1024" class="register-icon04">
              <path
                d="M512 598q108 0 225 47t117 123v86h-684v-86q0-76 117-123t225-47zM512 512q-70 0-120-50t-50-120 50-121 120-51 120 51 50 121-50 120-120 50z"
              ></path>
            </svg>
          </div>
          <input
            type="text"
            placeholder="First Name"
            autocomplete="given-name"
            class="register-textinput2 input-inverted"
          />
        </div>
        <div class="register-container09">
          <div class="register-container10">
            <svg viewBox="0 0 1024 1024" class="register-icon06">
              <path
                d="M512 598q108 0 225 47t117 123v86h-684v-86q0-76 117-123t225-47zM512 512q-70 0-120-50t-50-120 50-121 120-51 120 51 50 121-50 120-120 50z"
              ></path>
            </svg>
          </div>
          <input
            type="text"
            placeholder="Last Name"
            autocomplete="family-name"
            class="register-textinput3 input-inverted"
          />
        </div>
      </div>
      <div
        class="login-register-password-container login-register-password-root-class-name"
      >
        <div class="login-register-password-container1">
          <svg
            viewBox="0 0 658.2857142857142 1024"
            class="login-register-password-icon"
          >
            <path
              d="M182.857 438.857h292.571v-109.714c0-80.571-65.714-146.286-146.286-146.286s-146.286 65.714-146.286 146.286v109.714zM658.286 493.714v329.143c0 30.286-24.571 54.857-54.857 54.857h-548.571c-30.286 0-54.857-24.571-54.857-54.857v-329.143c0-30.286 24.571-54.857 54.857-54.857h18.286v-109.714c0-140.571 115.429-256 256-256s256 115.429 256 256v109.714h18.286c30.286 0 54.857 24.571 54.857 54.857z"
            ></path>
          </svg>
        </div>
        <input
          type="text"
          placeholder="Password"
          class="login-register-password-textinput input-inverted"
        />
        <svg viewBox="0 0 1024 1024" class="login-register-password-icon2">
          <path
            d="M512 384q52 0 90 38t38 90-38 90-90 38-90-38-38-90 38-90 90-38zM512 726q88 0 151-63t63-151-63-151-151-63-151 63-63 151 63 151 151 63zM512 192q158 0 286 88t184 232q-56 144-184 232t-286 88-286-88-184-232q56-144 184-232t286-88z"
          ></path>
        </svg>
      </div>
      <div
        class="login-register-password-container login-register-password-root-class-name1"
      >
        <div class="login-register-password-container1">
          <svg
            viewBox="0 0 658.2857142857142 1024"
            class="login-register-password-icon"
          >
            <path
              d="M182.857 438.857h292.571v-109.714c0-80.571-65.714-146.286-146.286-146.286s-146.286 65.714-146.286 146.286v109.714zM658.286 493.714v329.143c0 30.286-24.571 54.857-54.857 54.857h-548.571c-30.286 0-54.857-24.571-54.857-54.857v-329.143c0-30.286 24.571-54.857 54.857-54.857h18.286v-109.714c0-140.571 115.429-256 256-256s256 115.429 256 256v109.714h18.286c30.286 0 54.857 24.571 54.857 54.857z"
            ></path>
          </svg>
        </div>
        <input
          type="text"
          placeholder="Repeat Password"
          class="login-register-password-textinput input-inverted"
        />
        <svg viewBox="0 0 1024 1024" class="login-register-password-icon2">
          <path
            d="M512 384q52 0 90 38t38 90-38 90-90 38-90-38-38-90 38-90 90-38zM512 726q88 0 151-63t63-151-63-151-151-63-151 63-63 151 63 151 151 63zM512 192q158 0 286 88t184 232q-56 144-184 232t-286 88-286-88-184-232q56-144 184-232t286-88z"
          ></path>
        </svg>
      </div>
      <div class="register-container11">
        <div data-thq="thq-dropdown" class="register-thq-dropdown list-item">
          <div data-thq="thq-dropdown-toggle" class="register-dropdown-toggle">
            <div class="register-container12">
              <svg viewBox="0 0 1024 1024" class="register-icon08">
                <path
                  d="M854 342v-86l-342 214-342-214v86l342 212zM854 170q34 0 59 26t25 60v512q0 34-25 60t-59 26h-684q-34 0-59-26t-25-60v-512q0-34 25-60t59-26h684z"
                ></path>
              </svg>
            </div>
            <span class="register-text04">Gender</span>
            <div data-thq="thq-dropdown-arrow" class="register-dropdown-arrow">
              <svg viewBox="0 0 1024 1024" class="register-icon10">
                <path d="M426 726v-428l214 214z"></path>
              </svg>
            </div>
          </div>
          <ul data-thq="thq-dropdown-list" class="register-dropdown-list">
            <li data-thq="thq-dropdown" class="register-dropdown list-item">
              <div
                data-thq="thq-dropdown-toggle"
                class="register-dropdown-toggle01"
              >
                <span class="register-text05">Sub-menu Item</span>
              </div>
            </li>
            <li data-thq="thq-dropdown" class="register-dropdown1 list-item">
              <div
                data-thq="thq-dropdown-toggle"
                class="register-dropdown-toggle02"
              >
                <span class="register-text06">Sub-menu Item</span>
              </div>
            </li>
            <li data-thq="thq-dropdown" class="register-dropdown2 list-item">
              <div
                data-thq="thq-dropdown-toggle"
                class="register-dropdown-toggle03"
              >
                <span class="register-text07">Sub-menu Item</span>
              </div>
            </li>
          </ul>
        </div>
        <div data-thq="thq-dropdown" class="register-thq-dropdown1 list-item">
          <div
            data-thq="thq-dropdown-toggle"
            class="register-dropdown-toggle04"
          >
            <div class="register-container13">
              <svg viewBox="0 0 1024 1024" class="register-icon12">
                <path
                  d="M854 342v-86l-342 214-342-214v86l342 212zM854 170q34 0 59 26t25 60v512q0 34-25 60t-59 26h-684q-34 0-59-26t-25-60v-512q0-34 25-60t59-26h684z"
                ></path>
              </svg>
            </div>
            <span class="register-text08">Country</span>
            <div data-thq="thq-dropdown-arrow" class="register-dropdown-arrow1">
              <svg viewBox="0 0 1024 1024" class="register-icon14">
                <path d="M426 726v-428l214 214z"></path>
              </svg>
            </div>
          </div>
          <ul data-thq="thq-dropdown-list" class="register-dropdown-list1">
            <li data-thq="thq-dropdown" class="register-dropdown3 list-item">
              <div
                data-thq="thq-dropdown-toggle"
                class="register-dropdown-toggle05"
              >
                <span class="register-text09">Sub-menu Item</span>
              </div>
            </li>
            <li data-thq="thq-dropdown" class="register-dropdown4 list-item">
              <div
                data-thq="thq-dropdown-toggle"
                class="register-dropdown-toggle06"
              >
                <span class="register-text10">Sub-menu Item</span>
              </div>
            </li>
            <li data-thq="thq-dropdown" class="register-dropdown5 list-item">
              <div
                data-thq="thq-dropdown-toggle"
                class="register-dropdown-toggle07"
              >
                <span class="register-text11">Sub-menu Item</span>
              </div>
            </li>
          </ul>
        </div>
        <div data-thq="thq-dropdown" class="register-thq-dropdown2 list-item">
          <div
            data-thq="thq-dropdown-toggle"
            class="register-dropdown-toggle08"
          >
            <div class="register-container14">
              <svg viewBox="0 0 1024 1024" class="register-icon16">
                <path
                  d="M854 342v-86l-342 214-342-214v86l342 212zM854 170q34 0 59 26t25 60v512q0 34-25 60t-59 26h-684q-34 0-59-26t-25-60v-512q0-34 25-60t59-26h684z"
                ></path>
              </svg>
            </div>
            <span class="register-text12">University</span>
            <div data-thq="thq-dropdown-arrow" class="register-dropdown-arrow2">
              <svg viewBox="0 0 1024 1024" class="register-icon18">
                <path d="M426 726v-428l214 214z"></path>
              </svg>
            </div>
          </div>
          <ul data-thq="thq-dropdown-list" class="register-dropdown-list2">
            <li data-thq="thq-dropdown" class="register-dropdown6 list-item">
              <div
                data-thq="thq-dropdown-toggle"
                class="register-dropdown-toggle09"
              >
                <span class="register-text13">Sub-menu Item</span>
              </div>
            </li>
            <li data-thq="thq-dropdown" class="register-dropdown7 list-item">
              <div
                data-thq="thq-dropdown-toggle"
                class="register-dropdown-toggle10"
              >
                <span class="register-text14">Sub-menu Item</span>
              </div>
            </li>
            <li data-thq="thq-dropdown" class="register-dropdown8 list-item">
              <div
                data-thq="thq-dropdown-toggle"
                class="register-dropdown-toggle11"
              >
                <span class="register-text15">Sub-menu Item</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </form>
    <div class="register-container15">
      <input type="checkbox" required class="register-checkbox" />
      <span class="register-stay-signed-in"><span>I agree with the</span></span>
      <span class="register-text16"><span>terms and conditions</span></span>
    </div>
    <div class="register-container16">
      <a href="login.html" class="register-navlink">
        <div
          class="button-light-blue-container button-light-blue-root-class-name4"
        >
          <button class="button-light-blue-button Button">
            <span>Register</span>
          </button>
        </div>
      </a>
      <span class="register-text17"><span>OR</span></span>
      <div
        class="login-register-google-container login-register-google-root-class-name"
      >
        <img
          alt="image"
          src="public/google__g__logo-200w.png"
          class="login-register-google-image"
        />
        <span class="login-register-google-text">
          <span>Sign up with Google</span>
        </span>
      </div>
    </div>
  </div>
</div>
