<div>
  <link href="./sort-amount.css" rel="stylesheet" />
  <div class="sort-amount-container">
    <div class="sort-amount-container1">
      <select class="sort-amount-select">
        <option value="Shown amount" selected>Shown amount</option>
        <option value="10">10</option>
        <option value="50">50</option>
      </select>
    </div>
    <div class="sort-amount-container2">
      <select class="sort-amount-select1">
        <option value="Sort by" selected>Sort by</option>
        <option value="Latest">Latest</option>
        <option value="Best">Best</option>
      </select>
    </div>
  </div>
</div>
