<div>
  <link href="./study-strategy.css" rel="stylesheet" />
  <div class="study-strategy-feature-card">
    <svg viewBox="0 0 1024 1024" class="study-strategy-icon">
      <path
        d="M512 598q108 0 225 47t117 123v86h-684v-86q0-76 117-123t225-47zM512 512q-70 0-120-50t-50-120 50-121 120-51 120 51 50 121-50 120-120 50z"
      ></path>
    </svg>
    <h2 class="study-strategy-text"><span>Strategy</span></h2>
    <span class="study-strategy-text1">
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing.</span>
    </span>
    <span class="study-strategy-text2"><span>SEE MORE</span></span>
  </div>
</div>
