.unique-feature-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.unique-feature-container {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-colorscheme-5);
}
.unique-feature-icon {
  fill: var(--dl-color-colorscheme-2);
  width: 2rem;
  height: 2rem;
}
.unique-feature-text {
  color: var(--dl-color-colorscheme-5);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.unique-feature-text1 {
  color: var(--dl-color-colorscheme-5);
}
.unique-feature-root-class-name {
  width: 100%;
}




@media(max-width: 479px) {
  .unique-feature-text {
    font-style: normal;
    font-weight: 600;
  }
}
